Performing checks to see where agreement might land on first 100 annotations

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

samudp ='samucomp.csv'
sinandp = 'sinancomp.csv'

samuds = pd.read_csv(samudp)
sinands = pd.read_csv(sinandp)
joeds = pd.read_csv('joecomp.csv')

In [58]:
samuds.head()

,annotation_id,annotator,artist,created_at,id,index,lead_time,lyrics,tag,title,updated_at,x_coordinate,y_coordinate,year
0,2,1,Rich Amiri,2024-07-17T19:00:34.065082Z,1498,0,160.866,"[Intro]\r\nKeep it up, Sharkboy\r\n\r\n[Chorus...",rap,Relax,2024-07-17T19:00:34.065082Z,-0.4,0.8,2022
1,3,1,Lil Calorie,2024-07-17T19:01:59.697045Z,1499,1,76.316,I’m just an extra\r\nNobody text yeah\r\nLeave...,rap,Extra,2024-07-17T19:01:59.697045Z,-0.8,-0.2,2020
2,4,1,Safaree,2024-07-17T19:04:19.189196Z,1500,2,137.862,(Papi Chuloh)\r\n\r\n[?]\r\n\r\nStuntgang\r\n\...,rap,The Most Fun,2024-07-17T19:04:19.189196Z,0.5,0.4,2015
3,5,1,Vanilla Taurus,2024-07-17T19:07:07.881957Z,1501,3,91.000,[Chorus] x2\r\n\r\nI-I-I-\r\nUp in California\...,rap,California,2024-07-17T19:07:07.881957Z,-0.5,-0.3,2018
4,6,1,ProduceKyro,2024-07-17T19:13:49.366715Z,1502,4,177.028,"[Intro]\r\n(You, you, you, you)\r\n(You, you, ...",rap,Free Thinking,2024-07-17T19:13:49.367717Z,0.1,0.4,2021

In [59]:
sinands.head()

   index          title  tag          artist  year  x_coordinate  y_coordinate
0      0          Relax  rap      Rich Amiri  2022         -0.40          0.70
1      1          Extra  rap     Lil Calorie  2020         -0.80         -0.30
2      2   The Most Fun  rap         Safaree  2015          0.70          0.85
3      3     California  rap  Vanilla Taurus  2018         -0.70          0.55
4      4  Free Thinking  rap     ProduceKyro  2021          0.25          0.65

In [60]:
joeds.head()

,Unnamed: 0,annotation_id,annotator,artist,created_at,id,lead_time,lyrics,tag,title,updated_at,x_coordinate,y_coordinate,year
0,0,102,2,Rich Amiri,2024-07-23T17:04:57.737680Z,101,249.679,"[Intro]\r\nKeep it up, Sharkboy\r\n\r\n[Chorus...",rap,Relax,2024-07-23T17:04:57.737680Z,-0.4,0.6,2022
1,1,103,2,Lil Calorie,2024-07-23T17:07:46.230072Z,102,158.014,I’m just an extra\r\nNobody text yeah\r\nLeave...,rap,Extra,2024-07-23T17:07:46.230072Z,-0.7,-0.4,2020
2,2,104,2,Safaree,2024-07-23T17:16:38.949418Z,103,530.711,(Papi Chuloh)\r\n\r\n[?]\r\n\r\nStuntgang\r\n\...,rap,The Most Fun,2024-07-23T17:16:38.949418Z,0.5,0.5,2015
3,3,105,2,Vanilla Taurus,2024-07-23T17:18:32.407446Z,104,107.249,[Chorus] x2\r\n\r\nI-I-I-\r\nUp in California\...,rap,California,2024-07-23T17:18:32.407446Z,-0.3,-0.3,2018
4,4,106,2,ProduceKyro,2024-07-23T17:23:07.854164Z,105,267.982,"[Intro]\r\n(You, you, you, you)\r\n(You, you, ...",rap,Free Thinking,2024-07-23T17:23:07.854164Z,0.7,-0.2,2021

In [62]:
sinan_x = sinands[["index", "x_coordinate", "y_coordinate"]].head(100)



print(sinan_x)

samu_x = samuds[["index", "x_coordinate", "y_coordinate"]].head(100)



print(samu_x)

joe_x = joeds[["Unnamed: 0", "x_coordinate", "y_coordinate"]].head(100)
print(joe_x)

    index  x_coordinate  y_coordinate
0       0         -0.40          0.70
1       1         -0.80         -0.30
2       2          0.70          0.85
3       3         -0.70          0.55
4       4          0.25          0.65
..    ...           ...           ...
95     95          0.70          0.85
96     96         -0.70         -0.30
97     97          0.70          0.85
98     98         -0.55          0.65
99     99          0.25          0.65

[100 rows x 3 columns]
    index  x_coordinate  y_coordinate
0       0          -0.4           0.8
1       1          -0.8          -0.2
2       2           0.5           0.4
3       3          -0.5          -0.3
4       4           0.1           0.4
..    ...           ...           ...
95     95          -0.6           0.7
96     96          -0.7           0.6
97     97          -0.6           0.7
98     98          -0.6           0.7
99     99           0.6           0.7

[100 rows x 3 columns]
    Unnamed: 0  x_coordinate  y_coordinate
0            0          -0.4           0.6
1            1          -0.7          -0.4
2            2           0.5           0.5
3            3          -0.3          -0.3
4            4           0.7          -0.2
..         ...           ...           ...
95          95          -0.5           0.4
96          96          -0.5          -0.1
97          97          -0.3           0.7
98          98          -0.3           0.6
99          99           0.8           0.2

[100 rows x 3 columns]

In [63]:
print("Sinan: \n")
print(sinan_x.describe())
print("Sam: \n")
print(samu_x.describe())
print("Joe: \n")
print(joe_x.describe())

Sinan:

            index  x_coordinate  y_coordinate
count  100.000000    100.000000    100.000000
mean    49.500000     -0.159000      0.317000
std     29.011492      0.613253      0.489135
min      0.000000     -0.800000     -0.700000
25%     24.750000     -0.700000     -0.200000
50%     49.500000     -0.400000      0.550000
75%     74.250000      0.612500      0.650000
max     99.000000      0.900000      0.850000
Sam:

            index  x_coordinate  y_coordinate
count  100.000000    100.000000    100.000000
mean    49.500000     -0.079000      0.353000
std     29.011492      0.582453      0.442549
min      0.000000     -0.900000     -0.700000
25%     24.750000     -0.600000      0.100000
50%     49.500000     -0.350000      0.500000
75%     74.250000      0.600000      0.700000
max     99.000000      0.800000      0.900000
Joe:

       Unnamed: 0  x_coordinate  y_coordinate
count  100.000000    100.000000    100.000000
mean    49.500000     -0.116000      0.302000
std     29.011492      0.462911      0.423783
min      0.000000     -0.800000     -0.800000
25%     24.750000     -0.500000     -0.100000
50%     49.500000     -0.250000      0.500000
75%     74.250000      0.300000      0.600000
max     99.000000      0.800000      0.800000

In [64]:
def check_points_across_dataframes(df1, df2, df3, range_limit):
    count = 0
    num_points = len(df1)
    
    for i in range(num_points):
        # Get coordinates for the current point from all three dataframes
        x1, y1 = df1.iloc[i]['x_coordinate'], df1.iloc[i]['y_coordinate']
        x2, y2 = df2.iloc[i]['x_coordinate'], df2.iloc[i]['y_coordinate']
        x3, y3 = df3.iloc[i]['x_coordinate'], df3.iloc[i]['y_coordinate']
        
        # Calculate pairwise distances
        dist_12 = np.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)
        dist_13 = np.sqrt((x1 - x3) ** 2 + (y1 - y3) ** 2)
        dist_23 = np.sqrt((x2 - x3) ** 2 + (y2 - y3) ** 2)
        
        # Check if all distances are within the range limit
        if dist_12 <= range_limit and dist_13 <= range_limit and dist_23 <= range_limit:
            count += 1
    
    return count

In [65]:
range_limit = 0.4
count_within_range = check_points_across_dataframes(samu_x, joe_x, sinan_x, range_limit)
print(f"Number of points within {range_limit} across the dataframes: {count_within_range}")

Number of points within 0.4 across the dataframes: 27