Performing checks and cleaning our final annotated data

In [1]:
import pandas as pd
import numpy as np

data_path = 'joe_finished_data.csv'
joe = pd.read_csv(data_path)

sinan = pd.read_csv('sinan_finished_data.csv')

joe

,Unnamed: 0,annotation_id,annotator,artist,created_at,id,lead_time,lyrics,tag,title,updated_at,x_coordinate,y_coordinate,year
0,0,102,2,Rich Amiri,2024-07-23T17:04:57.737680Z,101,249.679,"[Intro]\r\nKeep it up, Sharkboy\r\n\r\n[Chorus...",rap,Relax,2024-07-23T17:04:57.737680Z,-0.4,0.6,2022
1,1,103,2,Lil Calorie,2024-07-23T17:07:46.230072Z,102,158.014,I’m just an extra\r\nNobody text yeah\r\nLeave...,rap,Extra,2024-07-23T17:07:46.230072Z,-0.7,-0.4,2020
2,2,104,2,Safaree,2024-07-23T17:16:38.949418Z,103,530.711,(Papi Chuloh)\r\n\r\n[?]\r\n\r\nStuntgang\r\n\...,rap,The Most Fun,2024-07-23T17:16:38.949418Z,0.5,0.5,2015
3,3,105,2,Vanilla Taurus,2024-07-23T17:18:32.407446Z,104,107.249,[Chorus] x2\r\n\r\nI-I-I-\r\nUp in California\...,rap,California,2024-07-23T17:18:32.407446Z,-0.3,-0.3,2018
4,4,106,2,ProduceKyro,2024-07-23T17:23:07.854164Z,105,267.982,"[Intro]\r\n(You, you, you, you)\r\n(You, you, ...",rap,Free Thinking,2024-07-23T17:23:07.854164Z,0.7,-0.2,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1395,1197,2,Kris Kristofferson & Brenda Lee,2024-08-16T14:43:42.426689Z,1496,45.114,Her long legs looked like trouble\r\nAs she sa...,country,The Bigger the Fool the Harder the Fall,2024-08-16T14:43:42.426689Z,-0.5,0.4,1982
996,1396,1198,2,The Osborne Brothers,2024-08-16T14:43:51.727822Z,1497,8.881,"Ruby, Ruby honey, are you mad at your man?\r\n...",country,Ruby Are You Mad,2024-08-16T14:43:51.727822Z,-0.3,0.6,1959
997,1397,1199,2,Reba McEntire,2024-08-16T14:44:04.081827Z,1498,11.919,[Verse 1]\r\nLove's the only thing I know in t...,country,A New Love,2024-08-16T14:44:04.081827Z,-0.6,-0.3,1989
998,1398,1200,2,Aaron Watson,2024-08-16T14:44:22.625580Z,1499,18.040,"[Verse 1]\r\nYellow dog bus, blacktop highway\...",country,Touchdown Town,2024-08-16T14:44:22.625580Z,0.5,0.8,2020
999,1399,1201,2,The Rankin Family,2024-08-16T14:44:37.864252Z,1500,14.825,[Verse 1]\r\nThese days there's too much infor...,country,Nothing Like An Ocean,2024-08-16T14:44:37.864252Z,0.5,-0.3,2007

Dropping unused columns

In [2]:
joe.drop(columns=['Unnamed: 0', 'annotation_id', 'annotator', 'created_at', 'id', 'lead_time', 'updated_at'], inplace=True)

Even spread of genres as seen here

In [3]:
joe['tag'].value_counts()

tag
rap        200
rb         200
rock       200
pop        200
country    200
Name: count, dtype: int64

In [4]:
joe.columns

Index(['artist', 'lyrics', 'tag', 'title', 'x_coordinate', 'y_coordinate',
       'year'],
      dtype='object')

In [5]:
sinan

,index,title,tag,artist,year,x_coordinate,y_coordinate
0,0,Relax,rap,Rich Amiri,2022,-0.40,0.70
1,1,Extra,rap,Lil Calorie,2020,-0.80,-0.30
2,2,The Most Fun,rap,Safaree,2015,0.70,0.85
3,3,California,rap,Vanilla Taurus,2018,-0.70,0.55
4,4,Free Thinking,rap,ProduceKyro,2021,0.25,0.65
...,...,...,...,...,...,...,...
1495,1495,Whiskey Chasin,country,Joe Stampley,2015,NaN,NaN
1496,1496,Smoke In a Bar Acoustic,country,Travis Tritt,2022,NaN,NaN
1497,1497,Away In A Manger,country,Brad Paisley,2006,NaN,NaN
1498,1498,Sourwood Mountain,country,Pete Seeger,1965,NaN,NaN
1499,1499,If Youre Ever In Oklahoma - Live At INTRUST Ba...,country,Eric Church,2017,NaN,NaN

In [6]:
sinan.isnull().sum()

index             0
title             0
tag               0
artist            0
year              0
x_coordinate    497
y_coordinate    497
dtype: int64

Removing unannotated values (null) from sinans data

In [7]:
sinan.dropna(axis=0, inplace=True)

In [8]:
sinan

,index,title,tag,artist,year,x_coordinate,y_coordinate
0,0,Relax,rap,Rich Amiri,2022,-0.40,0.70
1,1,Extra,rap,Lil Calorie,2020,-0.80,-0.30
2,2,The Most Fun,rap,Safaree,2015,0.70,0.85
3,3,California,rap,Vanilla Taurus,2018,-0.70,0.55
4,4,Free Thinking,rap,ProduceKyro,2021,0.25,0.65
...,...,...,...,...,...,...,...
1396,1396,Ruby Are You Mad,country,The Osborne Brothers,1959,-0.70,0.30
1397,1397,A New Love,country,Reba McEntire,1989,-0.70,-0.30
1398,1398,Touchdown Town,country,Aaron Watson,2020,0.70,0.85
1399,1399,Nothing Like An Ocean,country,The Rankin Family,2007,-0.30,-0.70
1400,1400,Ill Be Gone,country,Sarah Jarosz,2020,-0.70,0.30

In [9]:
sinan.drop(columns='index', inplace=True)

In [10]:
sinan

,title,tag,artist,year,x_coordinate,y_coordinate
0,Relax,rap,Rich Amiri,2022,-0.40,0.70
1,Extra,rap,Lil Calorie,2020,-0.80,-0.30
2,The Most Fun,rap,Safaree,2015,0.70,0.85
3,California,rap,Vanilla Taurus,2018,-0.70,0.55
4,Free Thinking,rap,ProduceKyro,2021,0.25,0.65
...,...,...,...,...,...,...
1396,Ruby Are You Mad,country,The Osborne Brothers,1959,-0.70,0.30
1397,A New Love,country,Reba McEntire,1989,-0.70,-0.30
1398,Touchdown Town,country,Aaron Watson,2020,0.70,0.85
1399,Nothing Like An Ocean,country,The Rankin Family,2007,-0.30,-0.70
1400,Ill Be Gone,country,Sarah Jarosz,2020,-0.70,0.30

In [11]:
sinan['tag'].value_counts()

tag
rb         201
rock       201
pop        201
rap        200
country    200
Name: count, dtype: int64

In [12]:
sinan_to_compare = sinan[['year', 'title', 'artist', 'tag']]

In [13]:
joe_to_compare = joe[['year', 'title', 'artist', 'tag']]

In [14]:
# concatenate dataframes - joins together
combined_df = pd.concat([joe_to_compare, sinan_to_compare])

# Drop duplicates and keep only the unique rows
unique_rows = combined_df.drop_duplicates()

# The number of common rows
num_common_rows = len(combined_df) - len(unique_rows)

print(f"Number of common rows: {num_common_rows}")

# This cant be right, further investigation needed

Number of common rows: 975

975 common rows is definitely not correct, looking into this further

In [15]:
# ~ reverses a boolean. So this shows rows that are not in the other df
non_matching_rows = sinan_to_compare[~sinan_to_compare['title'].isin(joe_to_compare['title'])]

print(len(non_matching_rows))  

non_matching_rows

# shows that the possible issue with row matching is titles not artists.

28

,year,title,artist,tag
29,2021,‚Äã‚Äãthelifestyle,Eli juggz,rap
194,2020,C√òLD,777Arcane,rap
200,2021,Lemonade Boy,JordyBoy (QC),rap
305,1984,It‚Äôs the Love,Carl Anderson,rb
307,2022,Fallin‚Äô in Love,RUSSELL!,rb
324,2020,‚Äãput in the grave,czyby,rb
371,1991,Forever My Lady K-Ci‚Äôs Drum,Jodeci,rb
411,2007,Cherry Live At Shepherd‚Äôs Bush Empire London...,Amy Winehouse,rb
433,1971,I‚Äôm Afraid The Masquerade is Over,David Porter,rb
463,2021,Go Don‚Äôt Leave,BluPrint (Girl Group),rb
490,2021,C H E B . ÿßŸÑÿ¥ÿßÿ® - ÿ∑ÿ±ÿ®Ÿàÿ¥ ÿØÿßŸÑŸàÿ±ÿØ...,Genius English Translations,rb
500,2020,Me Too,MC Penis,rb
624,2010,We‚Äôre Not the Same,Enjoy The View,rock
635,1984,What‚Äôs Love Got to Do with It,Tina Turner,rock
675,2014,Smashing Pumpkins‚Äôs ‚ÄúDaydream‚Äù,Mr. Mendola,rock
800,2018,Six Feet Under,Cloverdale,rock
909,2021,‚Äãi need to say goodbye.,Mive,pop
960,2020,‚Äãlove nwantiti German Frizzo Remix,CKay,pop
1073,2021,‚Äãilwy,frocious,pop
1077,2020,‚Äãoblivion,Coals,pop
1094,2019,Mafumafu „Åæ„Åµ„Åæ„Åµ - I want to be a Girl Â...,Genius English Translations,pop
1098,2018,Ïï†Í±î FOR English Translation,Genius English Translations,pop
1100,2001,Lovers Leap,Creeper Lagoon,pop
1230,1984,She‚Äôs Out of My Life,Willie Nelson,country
1291,2021,That‚Äôs how much I love you,Jean wolf,country
1309,1958,We‚Äôll Always Have Each Other,Kenny Rogers,country
1371,1963,Marie‚Äôs Wedding,The Clancy Brothers & Tommy Makem,country
1400,2020,Ill Be Gone,Sarah Jarosz,country

This shows the lower than expected common rows is due to randomly added characters

In [16]:
# this shows the artists, and therefore entries, do exist in my df, they just have symbol typos in title.
# example
for artist in joe_to_compare['artist']:
    if artist == 'Eli juggz':
        print(artist)

Eli juggz

All artists with randomly added chars, mostly do appear, just need to search by artist

In [17]:
non_matching_rows = sinan_to_compare[~sinan_to_compare['artist'].isin(joe_to_compare['artist'])]

print(len(non_matching_rows))  

non_matching_rows

# these entries are the outliers from sinans df!!! Tested on the code chunk above, artist did not print.

5

      year           title          artist      tag
200   2021    Lemonade Boy   JordyBoy (QC)      rap
500   2020          Me Too        MC Penis       rb
800   2018  Six Feet Under      Cloverdale     rock
1100  2001     Lovers Leap  Creeper Lagoon      pop
1400  2020     Ill Be Gone    Sarah Jarosz  country

Shows the indexes of the songs actually not in joes data

In [18]:
# Find rows in joe_to_compare that do not have a matching title in sinans df
non_matching_rows = joe_to_compare[~joe_to_compare['title'].isin(sinan_to_compare['title'])]

print(len(non_matching_rows))

non_matching_rows

25

,year,title,artist,tag
29,2021,​​thelifestyle,Eli juggz,rap
159,2014,Judges Criteria,Arobie1992,rap
194,2020,CØLD,777Arcane,rap
205,1984,It’s the Love,Carl Anderson,rb
207,2022,Fallin’ in Love,RUSSELL!,rb
224,2020,​put in the grave,czyby,rb
271,1991,Forever My Lady K-Ci’s Drum,Jodeci,rb
311,2007,Cherry Live At Shepherd’s Bush Empire London /...,Amy Winehouse,rb
333,1971,I’m Afraid The Masquerade is Over,David Porter,rb
363,2021,Go Don’t Leave,BluPrint (Girl Group),rb
390,2021,C H E B . الشاب - طربوش دالورد - F R U I T Eng...,Genius English Translations,rb
424,2010,We’re Not the Same,Enjoy The View,rock
435,1984,What’s Love Got to Do with It,Tina Turner,rock
475,2014,Smashing Pumpkins’s “Daydream”,Mr. Mendola,rock
609,2021,​i need to say goodbye.,Mive,pop
660,2020,​love nwantiti German Frizzo Remix,CKay,pop
773,2021,​ilwy,frocious,pop
777,2020,​oblivion,Coals,pop
794,2019,Mafumafu まふまふ - I want to be a Girl 女の子になりたい ...,Genius English Translations,pop
798,2018,애걔 FOR English Translation,Genius English Translations,pop
830,1984,She’s Out of My Life,Willie Nelson,country
891,2021,That’s how much I love you,Jean wolf,country
909,1958,We’ll Always Have Each Other,Kenny Rogers,country
971,1963,Marie’s Wedding,The Clancy Brothers & Tommy Makem,country
974,2018,ERP Implementation in Automobile Industry | Pr...,Pridesys,country

In [19]:
# Find rows in joe_to_compare that do not have a matching title in sinans df
non_matching_rows = joe_to_compare[~joe_to_compare['artist'].isin(sinan_to_compare['artist'])]

print(len(non_matching_rows))

non_matching_rows

2

,year,title,artist,tag
159,2014,Judges Criteria,Arobie1992,rap
974,2018,ERP Implementation in Automobile Industry | Pr...,Pridesys,country

By searching by artist, found all outlier songs, from where annotations overlap or differ

In [20]:
sinan.drop(index=[200,500,800,1100,1400], inplace=True)

In [21]:
joe.drop(index=[159,974], inplace=True)

Reading in sams data

In [22]:
samuel = pd.read_csv('samdb.csv')

samuel

,annotation_id,annotator,artist,created_at,id,index,lead_time,lyrics,tag,title,updated_at,x_coordinate,y_coordinate,year
0,2,1,Rich Amiri,2024-07-17T19:00:34.065082Z,1498,0,160.866,"[Intro]\r\nKeep it up, Sharkboy\r\n\r\n[Chorus...",rap,Relax,2024-07-17T19:00:34.065082Z,-0.4,0.8,2022
1,3,1,Lil Calorie,2024-07-17T19:01:59.697045Z,1499,1,76.316,I’m just an extra\r\nNobody text yeah\r\nLeave...,rap,Extra,2024-07-17T19:01:59.697045Z,-0.8,-0.2,2020
2,4,1,Safaree,2024-07-17T19:04:19.189196Z,1500,2,137.862,(Papi Chuloh)\r\n\r\n[?]\r\n\r\nStuntgang\r\n\...,rap,The Most Fun,2024-07-17T19:04:19.189196Z,0.5,0.4,2015
3,5,1,Vanilla Taurus,2024-07-17T19:07:07.881957Z,1501,3,91.000,[Chorus] x2\r\n\r\nI-I-I-\r\nUp in California\...,rap,California,2024-07-17T19:07:07.881957Z,-0.5,-0.3,2018
4,6,1,ProduceKyro,2024-07-17T19:13:49.366715Z,1502,4,177.028,"[Intro]\r\n(You, you, you, you)\r\n(You, you, ...",rap,Free Thinking,2024-07-17T19:13:49.367717Z,0.1,0.4,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,175,1,Joe Stampley,2024-07-29T18:26:21.180507Z,2993,1495,22.161,Looks like this bad rainy weather\r\nKept ever...,country,Whiskey Chasin,2024-07-29T18:26:21.180507Z,-0.9,-0.5,2015
1096,174,1,Travis Tritt,2024-07-29T18:25:57.100411Z,2994,1496,77.548,[Verse 1]\r\nDaddies were Daddies and Mamas we...,country,Smoke In a Bar Acoustic,2024-07-29T18:25:57.100411Z,0.6,-0.4,2022
1097,173,1,Brad Paisley,2024-07-29T18:24:37.297481Z,2995,1497,44.943,"[Chorus]\r\nAway in a manger, no crib for a be...",country,Away In A Manger,2024-07-29T18:24:37.297481Z,0.2,-0.9,2006
1098,172,1,Pete Seeger,2024-07-29T18:23:50.329744Z,2996,1498,30.574,Chickens a-crowin' on Sourwood Mountain\r\nHey...,country,Sourwood Mountain,2024-07-29T18:23:50.329744Z,0.6,-0.4,1965
1099,171,1,Eric Church,2024-07-29T18:23:17.321926Z,2997,1499,42.035,If you're ever in Oklahoma\r\nYou better move ...,country,If Youre Ever In Oklahoma - Live At INTRUST Ba...,2024-07-29T18:23:17.321926Z,0.2,-0.9,2017

In [23]:
samuel.drop(columns=['index', 'annotation_id', 'annotator', 'created_at', 'id', 'lead_time', 'updated_at'], inplace=True)

In [24]:
samuel

,artist,lyrics,tag,title,x_coordinate,y_coordinate,year
0,Rich Amiri,"[Intro]\r\nKeep it up, Sharkboy\r\n\r\n[Chorus...",rap,Relax,-0.4,0.8,2022
1,Lil Calorie,I’m just an extra\r\nNobody text yeah\r\nLeave...,rap,Extra,-0.8,-0.2,2020
2,Safaree,(Papi Chuloh)\r\n\r\n[?]\r\n\r\nStuntgang\r\n\...,rap,The Most Fun,0.5,0.4,2015
3,Vanilla Taurus,[Chorus] x2\r\n\r\nI-I-I-\r\nUp in California\...,rap,California,-0.5,-0.3,2018
4,ProduceKyro,"[Intro]\r\n(You, you, you, you)\r\n(You, you, ...",rap,Free Thinking,0.1,0.4,2021
...,...,...,...,...,...,...,...
1095,Joe Stampley,Looks like this bad rainy weather\r\nKept ever...,country,Whiskey Chasin,-0.9,-0.5,2015
1096,Travis Tritt,[Verse 1]\r\nDaddies were Daddies and Mamas we...,country,Smoke In a Bar Acoustic,0.6,-0.4,2022
1097,Brad Paisley,"[Chorus]\r\nAway in a manger, no crib for a be...",country,Away In A Manger,0.2,-0.9,2006
1098,Pete Seeger,Chickens a-crowin' on Sourwood Mountain\r\nHey...,country,Sourwood Mountain,0.6,-0.4,1965
1099,Eric Church,If you're ever in Oklahoma\r\nYou better move ...,country,If Youre Ever In Oklahoma - Live At INTRUST Ba...,0.2,-0.9,2017

In [25]:
samuel['tag'].value_counts()

tag
country    300
rap        200
rb         200
rock       200
pop        200
Name: count, dtype: int64

Need to find the 100 spare country songs

In [26]:
sam_to_compare = samuel[['year', 'tag', 'artist','title']]

In [27]:
non_matching_rows = sam_to_compare[~sam_to_compare['title'].isin(joe_to_compare['title'])]

print(len(non_matching_rows))

non_matching_rows

99

,year,tag,artist,title
1000,2020,country,Sarah Jarosz,Ill Be Gone
1001,2019,country,Upchurch,Fallen
1002,2010,country,Zac Brown Band,Smoke Rise
1003,2017,country,Brieanna,Country Song
1004,1980,country,John Anderson,She Just Started Liking Cheatin Songs
...,...,...,...,...
1095,2015,country,Joe Stampley,Whiskey Chasin
1096,2022,country,Travis Tritt,Smoke In a Bar Acoustic
1097,2006,country,Brad Paisley,Away In A Manger
1098,1965,country,Pete Seeger,Sourwood Mountain
1099,2017,country,Eric Church,If Youre Ever In Oklahoma - Live At INTRUST Ba...

recognise the top entry from these non matching rows as an entry not in joes dataset so these must be correct

In [28]:
samuel = samuel.drop(index=range(1000,1100))

In [29]:
samuel['tag'].value_counts()

tag
rap        200
rb         200
rock       200
pop        200
country    200
Name: count, dtype: int64

In [30]:
# fresh comparison matrix after dropping rows

sam_to_compare = samuel[['year', 'tag', 'artist','title']]

In [31]:
non_matching_rows = sam_to_compare[~sam_to_compare['artist'].isin(sinan_to_compare['artist'])]

print(len(non_matching_rows))

non_matching_rows

2

,year,tag,artist,title
159,2014,rap,Arobie1992,Judges Criteria
974,2018,country,Pridesys,ERP Implementation in Automobile Industry | Pr...

Same 2 different songs as joes data

In [32]:
samuel.drop(index=[159, 974], inplace=True)

Some additional checks due to initial errors when running data through agreement file

In [33]:
# additional checks due to errors calculating alpha

sinan_x = sinan['x_coordinate'].tolist()
sinan_y = sinan['y_coordinate'].tolist()

sam_x = samuel['x_coordinate'].tolist()
sam_y = samuel['y_coordinate'].tolist()

for i, coord in enumerate(sam_x):
    if coord == '--0.8':
        print(f"Error caused by index {i}")

sam_x[186] = '-0.8'

for i, coord in enumerate(sam_y):
    if coord == '-.0.5':
        print(f"Error caused by index {i}")


sam_y[46] = '-0.5'

samuel['x_coordinate'] = sam_x

samuel['y_coordinate'] = sam_y
 

# rounding up values to make an even number of coords, granularity was meant to be 0.1

for i, value in enumerate(sinan_x):
    if value == 0.25:
        sinan_x[i] = 0.3
    if value == 0.85:
        sinan_x[i] = 0.9
    if value == -0.55:
        sinan_x[i] = -0.6
    if value == 0.75:
        sinan_x[i] = 0.8
    if value == -0.75:
        sinan_x[i] = -0.8
    if value == 0.65:
        sinan_x[i] = 0.7
    if value == 0.19:
        sinan_x[i] = 0.2

for i, value in enumerate(sinan_y):
    if value == 0.65:
        sinan_y[i] = 0.7
    if value == 0.85:
        sinan_y[i] = 0.9
    if value == 0.55:
        sinan_y[i] = 0.6
    if value == 0.45:
        sinan_y[i] = 0.5
    if value == -0.35:
        sinan_y[i] = -0.4
    if value == -0.15:
        sinan_y[i] = -0.2


sinan['x_coordinate'] = sinan_x

sinan['y_coordinate'] = sinan_y

Error caused by index 186
Error caused by index 46

Converting to float as they are strings, for ease of agreement calculation

In [34]:
sam_x = samuel['x_coordinate'].tolist()
sam_y = samuel['y_coordinate'].tolist()

for i, value in enumerate(sam_x):
    sam_x[i] = float(value)

for i, value in enumerate(sam_y):
    sam_y[i] = float(value)

samuel['x_coordinate'] = sam_x

samuel['y_coordinate'] = sam_y

In [35]:
samuel.to_csv('final_sam.csv')

joe.to_csv('final_joe.csv')

sinan.to_csv('final_sinan.csv')

Splitting by genre to do further analysis.

In [36]:
sam_rap = samuel[samuel['tag'] == 'rap']

sinan_rap = sinan[sinan['tag'] == 'rap']

joe_rap = joe[joe['tag'] == 'rap']

sam_rb = samuel[samuel['tag'] == 'rb']

sinan_rb = sinan[sinan['tag'] == 'rb']

joe_rb = joe[joe['tag'] == 'rb']

sam_rock = samuel[samuel['tag'] == 'rock']

sinan_rock = sinan[sinan['tag'] == 'rock']

joe_rock = joe[joe['tag'] == 'rock']

sam_pop = samuel[samuel['tag'] == 'pop']

sinan_pop = sinan[sinan['tag'] == 'pop']

joe_pop = joe[joe['tag'] == 'pop']

sam_country = samuel[samuel['tag'] == 'country']

sinan_country = sinan[sinan['tag'] == 'country']

joe_country = joe[joe['tag'] == 'country']

print(len(sam_rap), len(sinan_rap), len(joe_rap))

print(len(sam_rb), len(sinan_rb), len(joe_rb))

print(len(sam_rock), len(sinan_rock), len(joe_rock))

print(len(sam_pop), len(sinan_pop), len(joe_pop))

print(len(sam_country), len(sinan_country), len(joe_country))

199 199 199
200 200 200
200 200 200
200 200 200
199 199 199

In [37]:
sam_rap.to_csv('sam_rap.csv')
sam_rb.to_csv('sam_rb.csv')
sam_rock.to_csv('sam_rock.csv')
sam_pop.to_csv('sam_pop.csv')
sam_country.to_csv('sam_country.csv')

sinan_rap.to_csv('sinan_rap.csv')
sinan_pop.to_csv('sinan_pop.csv')
sinan_country.to_csv('sinan_country.csv')
sinan_rb.to_csv('sinan_rb.csv')
sinan_rock.to_csv('sinan_rock.csv')

joe_rap.to_csv('joe_rap.csv')
joe_country.to_csv('joe_country.csv')
joe_rb.to_csv('joe_rb.csv')
joe_rock.to_csv('joe_rock.csv')
joe_pop.to_csv('joe_pop.csv')

Making plots from recorded alpha/beta statistics

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

x_beta = [0.65, 0.70, 0.67, 0.68, 0.71, 0.68]

y_beta = [0.63, 0.63, 0.57, 0.60, 0.61, 0.62]

beta = pd.DataFrame({'x_beta': x_beta, 'y_beta': y_beta}, 
                  index=['rap', 'rnb', 'pop', 'rock', 'country', 'all_genres'])

x_alpha = [0.33, 0.40, 0.35, 0.36, 0.42, 0.38]

y_alpha = [0.26, 0.27, 0.15, 0.22, 0.22, 0.25]

alpha = pd.DataFrame({'x_alpha': x_alpha, 'y_alpha': y_alpha},
                     index=['rap', 'rnb', 'pop', 'rock', 'country', 'all_genres'])

In [ ]:
# Initialize the figure
plt.figure(figsize= (8, 8))

# Plot each dataset with different markers and colors
plt.scatter(alpha['x_alpha'], alpha['y_alpha'], label='Alpha', marker='o', color='blue')
plt.scatter(beta['x_beta'], beta['y_beta'], label='Beta', marker='s', color='green')


# Adding labels for each point
for label, x, y in zip(alpha.index, alpha['x_alpha'], alpha['y_alpha']):
    plt.text(x, y, label, fontsize=9)

for label, x, y in zip(beta.index, beta['x_beta'], beta['y_beta']):
    plt.text(x, y, label, fontsize=9)

# Set title and labels
plt.title('Comparative Scatter Plot of Different Metrics')
plt.xlabel('X')
plt.ylabel('Y')

# Display the legend
plt.legend()

# Show the plot
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Data (x_alpha and y_alpha values for each genre and annotator group)
data = {
    'All Annotators': {
        'Rap': (0.32501826220852803, 0.2585011236875123),
        'Rb': (0.4038427288822729, 0.27434175763277147),
        'Pop': (0.35371895328868197, 0.15227391830381554),
        'Rock': (0.3588177911360485, 0.22732857949604013),
        'Country': (0.42006549943317906, 0.22016557357671285),
        'All Genres': (0.38017359704748643, 0.2540492918629561),
    },
    'Annotators A & B': {
        'Rap': (0.3829486384311025, 0.2508683804112024),
        'Rb': (0.4890093437073195, 0.2762733602052412),
        'Pop': (0.44545431517085177, 0.21472328426392928),
        'Rock': (0.4468663415037635, 0.30660017399818673),
        'Country': (0.5406521928763011, 0.3067811876871406),
        'All Genres': (0.4719772789637676, 0.310410985506113),
    },
    'Annotators A & C': {
        'Rap': (0.2118821294715295, 0.28763133346076486),
        'Rb': (0.29997143906319723, 0.29611788939946926),
        'Pop': (0.2566407083422384, 0.14536157247825088),
        'Rock': (0.35657228576786737, 0.23669733679682958),
        'Country': (0.3249408736847841, 0.21446501875315083),
        'All Genres': (0.2963892527149746, 0.2551509436988634),
    },
    'Annotators B & C': {
        'Rap': (0.36670301227132973, 0.22716976037797465),
        'Rb': (0.39826814291359847, 0.24981576311864007),
        'Pop': (0.3337162985729317, 0.07929765786247633),
        'Rock': (0.24522903628463022, 0.13108547873064713),
        'Country': (0.3630670617037264, 0.1174901449361172),
        'All Genres': (0.34851418681393054, 0.1866174554143054),
    }
}

# Colors for each group
colors = {
    'All Annotators': 'blue',
    'Annotators A & B': 'green',
    'Annotators A & C': 'red',
    'Annotators B & C': 'purple'
}

# Plotting
fig, axs = plt.subplots(2, 2, figsize=(10, 10))
titles = ['All Annotators', 'Annotators A & B', 'Annotators A & C', 'Annotators B & C']

# Set the same x and y axis limits for all subplots
x_limits = (0.2, 0.55)
y_limits = (0.05, 0.35)

for ax, title in zip(axs.flat, titles):
    for genre, (x_alpha, y_alpha) in data[title].items():
        ax.scatter(x_alpha, y_alpha, label=genre, color=colors[title])
        ax.text(x_alpha, y_alpha, genre, fontsize=10, ha='left', color=colors[title])
    
    ax.set_title(title)
    ax.set_xlabel('x_alpha')
    ax.set_ylabel('y_alpha')
    ax.set_xlim(x_limits)  # Set x-axis limits
    ax.set_ylim(y_limits)  # Set y-axis limits

plt.tight_layout()
plt.show()